<van-search placeholder="请输入搜索关键词" focus shape="round" bind:search="search" />
<view hidden="{{courses && courses.length > 0 }}" class="weui-loadmore weui-loadmore_line" style='margin-top:60rpx;margin-bottom:30rpx;'>
    <view class="weui-loadmore__tips weui-loadmore__tips_in-line">暂无商品</view>
</view>
<view class="courses" wx:for="{{courses}}" wx:key="id" >
    <view class="content">
      <image class="icon" src="/images/icon/coupons-active.svg"></image>
      <view class="profile">
        <view class="t">{{item.name}}</view>
        <view class="n">{{item.characteristic}}</view>

        <view class="price">
          <view class="tj">新人价</view>
          <view class="amount"><text>￥</text>{{item.minPrice}}</view>
          <view class="tj">原价</view>
          <view class="amount"><text>¥</text>{{item.originalPrice}}</view>
          <view class="btn" bindtap="getCourse" data-id="{{item.id}}" data-pwd="{{item.pwd}}">去看看</view>
        </view>
      </view>
    </view>
    <view class="detail">{{item.purchaseNotes}}</view>
  </view>
  <view hidden="{{loadingMoreHidden ? true : false}}" class="weui-loadmore weui-loadmore_line" style='margin-top:60rpx;margin-bottom:30rpx;'>
    <view class="weui-loadmore__tips weui-loadmore__tips_in-line">没有更多啦</view>
  </view>
