<!--pages/to-pay-order/index.wxml-->
<block wx:if="{{ bindMobileStatus == 2 }}">
  <view class="login-box">
    <image class="logo" src="/images/wx.jpg" mode="widthFix"></image>
    <view class="line"></view>
    <view class="title">申请获取以下权限</view>
    <view class="profile">授权绑定手机号码</view>
    <view class="btn">
      <van-button type="primary" block round open-type="getPhoneNumber" bind:getphonenumber="getPhoneNumber">绑定手机号码</van-button>
    </view>
  </view>
</block>
<block wx:if="{{ bindMobileStatus == 1 }}">
    <van-card
      wx:for="{{goodsList}}" wx:key="index"
      price="{{item.price}}"
      title="{{item.name}}"
      centered
      >
    </van-card>
    <view class="container-box cell-group">
      <view class="peisong-way" hidden="{{hasNoCoupons}}">
        <view class="row-box" style="border-bottom:none;">
          <view class="row-label t">使用优惠券</view>
        </view>
        <picker bindchange="bindChangeCoupon" range="{{coupons}}" range-key="nameExt">
          <view class="row-box" style="border-bottom:none;">      
            <view class="row-label">{{curCouponShowText}}</view>
            <image class="next" src="/images/icon/next.png"></image>
          </view>
        </picker>
      </view>
    </view>
    <van-cell-group title="优惠">
      <van-cell wx:if="{{couponAmount}}" title="优惠金额" value="-¥{{couponAmount}}" />
      <van-cell wx:else title="暂无优惠券"/>
    </van-cell-group>
    <view class="bottom-box"></view>
    <van-submit-bar 
      price="{{ allGoodsAndYunPrice*100 }}"
      button-text="提交订单"
      bind:submit="goCreateOrder"
    />
</block>
